name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  package-ci:
    uses: alextheman231/github-actions/.github/workflows/package-ci.yml@b4f68d2f1f14be1fc488b4bae0aaf436db239ff2 # v8.2.0

  actions-ci:
    uses: alextheman231/github-actions/.github/workflows/actions-ci.yml@b4f68d2f1f14be1fc488b4bae0aaf436db239ff2 # v8.2.0
