name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  package-ci:
    uses: alextheman231/github-actions/.github/workflows/package-ci.yml@0b40bc9c6c862ba6ae905560361f2fc57b00db9e # v8.3.0

  actions-ci:
    uses: alextheman231/github-actions/.github/workflows/actions-ci.yml@0b40bc9c6c862ba6ae905560361f2fc57b00db9e # v8.3.0
