name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'alextheman231/utility' }}
    uses: alextheman231/github-actions/.github/workflows/commit-version-change.yml@3db51f2a57ee95cda50310b3856cfdc0ae171cf7 # v8.3.3
    with:
      create-feature-docs: true
    secrets:
      APP_ID: ${{ secrets.ALEX_UP_BOT_APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.ALEX_UP_BOT_PRIVATE_KEY }}
