name: Restrict alex-up-bot branches

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  restrict-alex-up-bot-branches:
    uses: alextheman231/github-actions/.github/workflows/restrict-alex-up-bot-branches.yml@0b40bc9c6c862ba6ae905560361f2fc57b00db9e # v8.3.0
    secrets:
      APP_ID: ${{ secrets.ALEX_UP_BOT_APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.ALEX_UP_BOT_PRIVATE_KEY }}
